* {
    box-sizing: border-box;
    text-align: center;
  }

  header{
      padding: 40px;
      margin: 10px 110px 10px 110px;
      color: #777777;
      background-color: #ccc;
      
  }

  nav{
    padding: 40px;
    margin: 10px 110px 10px 110px;
    color: #777777;
    background-color: #ccc;

  }


  section{
      
      margin-left: 110px;
      color: #777777;
      background-color: #ccc;
      float: left;
      width: 700px;
      height: 350px;
      
    
      
      
  }

  
  aside{
      color: #777777;;
      background-color: #ccc;
      float: left;
      width: 495px;
      margin-left: 10px;
      height: 350px;
      

  }


  article{
        clear: both;

  }


  footer{
    padding: 40px;
    margin: 370px 110px 100px 110px;
    color: #777777;
    background-color: #ccc;
  }



body {
    background-color: #777777;

}